.kt-subheader .kt-subheader__search {
    width: 375px;
    display: inline-block;
}

.modal .modal-content .modal-header .close {
    color: #fc0758;
}

.modal .modal-content .modal-header .close:hover {
    color: #fc0758;
}
