@model CleanArchitecture.Core.ViewModels.AutoVersionViewModel

<div class="modal fade" id="_AutoVersionPanel" tabindex="-1" role="dialog" aria-labelledby="AutoModelPanel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Auto Version</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right" id="AutoVersion">
                <div class="modal-body">
                    <div class="kt-portlet__body">
                        <div class="kt-section">
                            <div class="kt-section__content">
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">* Version Name:</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="SelectedManufacturer">* Auto Manufactuer:</label>
                                        @*@Html.DropDownListFor(x => Version.SelectedManufacturer,Version.AutoManufacturerLookup, htmlAttributes: new { @class = "form-control" })*@
                                        <select asp-for="SelectedManufacturer" asp-items="Model.AutoManufacturerLookup" class="form-control kt-select2" name="SelectedManufacturer" style="width:100%">
                                            <option value="">select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="col-form-label">Start Date</label>
                                        <div class="input-group date">
                                            <input type="text" class="form-control kt_datepicker_1_modal" readonly="" placeholder="Select date" id="kt_datepicker_1_modal">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-calendar-check-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="col-form-label">End Date</label>
                                        <div class="input-group date">
                                            <input type="text" class="form-control kt_datepicker_1_modal" readonly="" placeholder="Select date" id="kt_datepicker_1_modal">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-calendar-check-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">* Price:</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    Maximum power - Output - Horsepower (hp)
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">* Engine Capacity/Displacement :</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">* Maximum power - Output - Horsepower (hp):</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Fuel tank capacity:</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">* Maximum power - Output - Horsepower (hp):</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Height:</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Width</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Length:</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Ground clearance</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Max. Towing Capacity Weight</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Ground clearance</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Drivetrains/Drive Type</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*WheelBase</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">
                                            *Luggage Compartment Capacity (Ltrs.)
                                        </label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Wheel Type</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">
                                            Tyre Size
                                        </label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Suspension-Front</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">
                                            Suspension-Rear
                                        </label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Foot Rest</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="col-12">
                                        <label class="col-form-label">Features</label>
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div><div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div><div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div><div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div><div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div><div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div><div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div><div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div><div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label class="col-form-label">Body Type</label>
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="kt-radio">
                                                    <input type="radio" name="radio4"> Option 1
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-3">
                                                <label class="kt-radio">
                                                    <input type="radio" name="radio4"> Option 1
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-3">
                                                <label class="kt-radio">
                                                    <input type="radio" name="radio4"> Option 1
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-3">
                                                <label class="kt-radio">
                                                    <input type="radio" name="radio4"> Option 1
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-3">
                                                <label class="kt-radio">
                                                    <input type="radio" name="radio4"> Option 1
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-3">
                                                <label class="kt-radio">
                                                    <input type="radio" name="radio4"> Option 1
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label class="col-form-label">Engine Type</label>
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="kt-radio">
                                                    <input type="radio" name="radio4"> Option 1
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-3">
                                                <label class="kt-radio">
                                                    <input type="radio" name="radio4"> Option 1
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-3">
                                                <label class="kt-radio">
                                                    <input type="radio" name="radio4"> Option 1
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-3">
                                                <label class="kt-radio">
                                                    <input type="radio" name="radio4"> Option 1
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-3">
                                                <label class="kt-radio">
                                                    <input type="radio" name="radio4"> Option 1
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-3">
                                                <label class="kt-radio">
                                                    <input type="radio" name="radio4"> Option 1
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                    <button type="submit" class="btn btn-dark btn-sm" onclick="autoVersion.validdateAutoVersion(event)" id="btnAutoVersion">
                        <i class="fa fa-plus"></i>
                        Add New
                    </button>
                </div>
                <input type="hidden" asp-for="Id">
            </form>
        </div>
    </div>
</div>