@model CleanArchitecture.Core.ViewModels.AutoVersionViewModel

<div class="modal fade" id="_AutoVersionPanel" tabindex="-1" role="dialog" aria-labelledby="AutoModelPanel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Auto Version</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right" id="AutoVersion">
                <div class="modal-body">
                    <div class="kt-portlet__body">
                        <div class="row">
                            <div class="col-12">
                                <div class="kt-portlet kt-portlet--bordered">
                                    <div class="kt-portlet__head bg-dark">
                                        <div class="kt-portlet__head-label">
                                            <h4 class="kt-portlet__head-title text-white">
                                                General Info
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__body">
                                        <div class="kt-widget1 p-0">
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <label class="form-control-label" for="SelectedManufacturer"><span class="text-danger">*</span> Auto Manufactuer:</label>
                                                    @*@Html.DropDownListFor(x => Version.SelectedManufacturer,Version.AutoManufacturerLookup, htmlAttributes: new { @class = "form-control" })*@
                                                    <select asp-for="SelectedManufacturer" asp-items="Model.AutoManufacturerLookup" class="form-control kt-select2" name="SelectedManufacturer" style="width:100%" onchange="autoVersion.getAutoModelLookup(this);" id="SelectedAutoManufacturer">
                                                        <option value="">Select Manufacturer</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="form-control-label" for="SelectedManufacturer"><span class="text-danger">*</span> Auto Model:</label>
                                                    @*@Html.DropDownListFor(x => Version.SelectedManufacturer,Version.AutoManufacturerLookup, htmlAttributes: new { @class = "form-control" })*@
                                                    <select asp-for="SelectedManufacturer" asp-items="Model.AutoManufacturerLookup" class="form-control kt-select2 disabled" name="SelectedManufacturer" style="width:100%" id="SelectedAutoModel" disabled>
                                                        <option value="">Select Model</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="form-control-label" for="AutoVersionName"><span class="text-danger">*</span> Version Name:</label>
                                                    <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <label class="form-control-label"><span class="text-danger">*</span>Start Date</label>
                                                    <input type="month" class="form-control startMonth" placeholder="Select Date" value="" id="startMonth">
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="form-control-label" for="CurrentPrice"><span class="text-danger">*</span> Price:</label>
                                                    <input type="number" name="CurrentPrice" class="form-control" placeholder="Enter Price" asp-for="CurrentPrice">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="kt-portlet kt-portlet--bordered">
                                    <div class="kt-portlet__head bg-dark">
                                        <div class="kt-portlet__head-label">
                                            <h4 class="kt-portlet__head-title text-white">
                                                Dimensions
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__body">
                                        <div class="kt-widget1 p-0">
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <label class="form-control-label" for="ExteriorHeight">Exterior Height:</label>
                                                    <input type="text" name="ExteriorHeight" class="form-control" placeholder="" asp-for="ExteriorHeight" value="">
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="form-control-label" for="ExteriorWidth">Exterior Width:</label>
                                                    <input type="text" name="ExteriorWidth" class="form-control" placeholder="" asp-for="ExteriorWidth" value="">
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="form-control-label" for="ExteriorLength">Exterior Length:</label>
                                                    <input type="text" name="ExteriorLength" class="form-control" placeholder="" asp-for="ExteriorLength" value="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <label class="form-control-label" for="GroundClearance">Minmum Ground Clearance:</label>
                                                    <input type="text" name="GroundClearance" class="form-control" placeholder="" asp-for="GroundClearance" value="">
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="form-control-label" for="RunningGroundClearance">Minmum Running Ground Clearance:</label>
                                                    <input type="text" name="RunningGroundClearance" class="form-control" placeholder="" asp-for="RunningGroundClearance" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="kt-portlet kt-portlet--bordered">
                                    <div class="kt-portlet__head bg-dark">
                                        <div class="kt-portlet__head-label">
                                            <h4 class="kt-portlet__head-title text-white">
                                                Weight & Capacity
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__body">
                                        <div class="kt-widget1 p-0">
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <label class="form-control-label" for="ExteriorHeight">Seating Capacity(Persons):</label>
                                                    <input type="text" name="SeatingCapacity" class="form-control" placeholder="" asp-for="SeatingCapacity" id="kt_inputmask_1" value="">
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="form-control-label" for="ExteriorWidth">Fuel Tank Capacity(Liters):</label>
                                                    <input type="text" name="FuelTankCapacity" class="form-control" placeholder="" asp-for="FuelTankCapacity" value="">
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="form-control-label" for="ExteriorLength">Crub Weight(Kg):</label>
                                                    <input type="text" name="CrubWeight" class="form-control" placeholder="" asp-for="CrubWeight" value="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <label class="form-control-label" for="GroundClearance">Gross Vehicle Weigth(Kg):</label>
                                                    <input type="text" name="GroundClearance" class="form-control" placeholder="" asp-for="GrossVehicleWeigth" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="kt-portlet kt-portlet--bordered">
                                    <div class="kt-portlet__head bg-dark">
                                        <div class="kt-portlet__head-label">
                                            <h4 class="kt-portlet__head-title text-white">
                                                Wheel & Tire
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__body">
                                        <div class="kt-widget1 p-0">
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <label class="form-control-label" for="TyreSize">Tyre Size:</label>
                                                    <input type="text" name="TyreSize" class="form-control" placeholder="" asp-for="TireSize"  value="">
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="form-control-label" for="WheelType">Wheel Type:</label>
                                                    <select asp-for="SelectedManufacturer" class="form-control kt-select2" name="SelectedManufacturer" style="width:100%" onchange="autoVersion.getAutoModelLookup(this);" id="SelectedAutoManufacturer">
                                                        <option value="">Select Wheel Type</option>
                                                        <option value="Alloy Wheels">Alloy Wheels</option>
                                                        <option value="Chrome Wheels">Chrome Wheels</option>
                                                        <option value="Steel Wheels">Steel Wheels</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="form-control-label" for="SpareWheel">Spare Wheel:</label>
                                                    <input type="text" name="SpareWheel" class="form-control ip_address" placeholder="" asp-for="SpareWheel" value="">
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="kt-portlet__body">

                        <div class="kt-section">
                            <div class="kt-section__content">

                                <div class="form-group row">

                                    <div class="col-lg-4">
                                        <label class="form-control-label" for="SelectedManufacturer"><span class="text-danger">*</span> Auto Manufactuer:</label>-->
                                        @*@Html.DropDownListFor(x => Version.SelectedManufacturer,Version.AutoManufacturerLookup, htmlAttributes: new { @class = "form-control" })*@
                                        <!--<select asp-for="SelectedManufacturer" asp-items="Model.AutoManufacturerLookup" class="form-control kt-select2" name="SelectedManufacturer" style="width:100%" onchange="autoVersion.getAutoModelLookup(this);" id="SelectedAutoManufacturer">
                                            <option value="">Select Manufacturer</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="form-control-label" for="SelectedManufacturer"><span class="text-danger">*</span> Auto Model:</label>-->
                                        @*@Html.DropDownListFor(x => Version.SelectedManufacturer,Version.AutoManufacturerLookup, htmlAttributes: new { @class = "form-control" })*@
                                        <!--<select asp-for="SelectedManufacturer" asp-items="Model.AutoManufacturerLookup" class="form-control kt-select2 disabled" name="SelectedManufacturer" style="width:100%" onchange="autoVersion.getAutoModelLookup(this);" id="SelectedAutoModel" disabled>
                                            <option value="">Select Model</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="form-control-label" for="AutoVersionName"><span class="text-danger">*</span> Version Name:</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>
                                <div class="form-group row">

                                    <div class="col-lg-4">
                                        <label class="form-control-label" for="SelectedManufacturer"><span class="text-danger">*</span> Auto Engine Type:</label>-->
                                        @*@Html.DropDownListFor(x => Version.SelectedManufacturer,Version.AutoManufacturerLookup, htmlAttributes: new { @class = "form-control" })*@
                                        <!--<select asp-for="SelectedManufacturer" asp-items="Model.AutoEngineTypeLookup" class="form-control kt-select2 disabled" name="SelectedManufacturer" style="width:100%" onchange="autoVersion.getAutoModelLookup(this);" id="SelectedAutoModel">
                                            <option value="">Select Engine Type</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="form-control-label" for="SelectedManufacturer"><span class="text-danger">*</span> Auto Body Type:</label>-->
                                        @*@Html.DropDownListFor(x => Version.SelectedManufacturer,Version.AutoManufacturerLookup, htmlAttributes: new { @class = "form-control" })*@
                                        <!--<select asp-for="SelectedManufacturer" asp-items="Model.AutoBodyTypeLookup" class="form-control kt-select2 disabled" name="SelectedManufacturer" style="width:100%" onchange="autoVersion.getAutoModelLookup(this);" id="SelectedAutoModel">
                                            <option value="">Select Body Type</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label class="col-form-label"><span class="text-danger">*</span>Start Date</label>
                                        <div class="input-group date">
                                            <input type="month" class="form-control startMonth" placeholder="Select Date" value="" id="startMonth">-->
                                            @*<div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="la la-calendar-check-o"></i>
                                                    </span>
                                                </div>*@
                                        <!--</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    
                                    Maximum power - Output - Horsepower (hp)
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">* Engine Capacity/Displacement :</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">* Maximum power - Output - Horsepower (hp):</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Fuel tank capacity:</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">* Maximum power - Output - Horsepower (hp):</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Height:</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Width</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Length:</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Ground clearance</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Max. Towing Capacity Weight</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Ground clearance</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Drivetrains/Drive Type</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*WheelBase</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">
                                            *Luggage Compartment Capacity (Ltrs.)
                                        </label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Wheel Type</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">
                                            Tyre Size
                                        </label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Suspension-Front</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">
                                            Suspension-Rear
                                        </label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label" for="AutoVersionName">*Foot Rest</label>
                                        <input type="text" name="AutoVersionName" class="form-control" placeholder="" asp-for="AutoVersionName">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="col-12">
                                        <label class="col-form-label">Features</label>
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div><div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div><div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div><div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div><div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div><div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div><div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div><div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div><div class="col-3">
                                                <label class="kt-checkbox" cheched="">
                                                    <input type="checkbox"> Option 1
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                    <button type="submit" class="btn btn-dark btn-sm" onclick="autoVersion.validdateAutoVersion(event)" id="btnAutoVersion">
                        <i class="fa fa-plus"></i>
                        Add New
                    </button>
                </div>
                <input type="hidden" asp-for="Id">
            </form>
        </div>
    </div>
</div>