
@{
    ViewData["Title"] = "Index";
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <!-- begin:: Content Head -->
    <div class="kt-subheader  kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">Auto Manufacturer</h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <button type="button" class="btn btn-dark  btn-sm btn-icon-h kt-margin-l-10" onclick="autoManufacturer.loadAutoManufacturerPanel()" id="_AutoManufacturerPanelbtn">
                    <i class="fa fa-plus"></i>
                    Add New
                </button>
                <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                    <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                    <span class="kt-input-icon__icon kt-input-icon__icon--right">
                        <span><i class="flaticon2-search-1"></i></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Content Head -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <h1>hello</h1>
        </div>
        <div id="_AutoManufacturerPanelContainer">

        </div>
    </div>

    <!-- end:: Content -->
</div>

